.author {
  position: relative;
  overflow: hidden;
  padding: 0 0 19px;
  margin: 50px 0 32px;
  border-bottom: 3px solid #f3f3f3;
  font-size: 14px;
  line-height: 17px;
}
.author__ava {
  overflow: hidden;
  width: 97px;
  height: 97px;
  border-radius: 97px;
  margin: 0 0 20px;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

}
.author__content {
  overflow: hidden;
}
.author__name {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 6px;
  font-size: 26px;
  line-height: 30px;
  color: #14171a;
  @include main-font4();
}
.author__content p {
  margin-bottom: 0;
}

@media (min-width: $tablet-portrait) {

  .author {
    margin: 96px 0 32px;
    padding: 0 0 19px 122px;
    min-height: 120px;
  }
  .author__ava {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
    }

  }

}
@media (min-width: $tablet-landscape) {

  .author {
    font-size: 20px;
    line-height: 30px;
  }

}