.btn {
  display: inline-block;
  vertical-align: top;
  height: 42px;
  min-width: 180px;
  padding: 0 10px;
  background: $btn-back;
  border: 2px solid transparent;
  font-size: 18px;
  line-height: 18px;
  border-radius: 50px;
  color: $btn-color;
  @include main-font4();
  -webkit-transition: opacity .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease;
  transition: opacity .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease;

  &:hover {
    background: $btn-back-hover;
    border-color: $btn-border-color-hover;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

  span {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
  }

}
.btn_2 {
  background: $btn-2-back;
  color: $btn-2-color;
  border-color: $btn-2-border-color;

  &:hover {
    background: $btn-2-back-hover;
    color: $btn-2-color-hover;
    border-color: $btn-2-border-color;
  }

  &:active {
    border-color: $btn-2-border-color-active;
    background: $btn-2-back-active;
  }

}
.btn_2-1 {
  min-width: 160px;
  margin-bottom: 70px;
}
.btn_3 {
  height: 47px;
  font-size: 14px;
  line-height: 14px;
}
.btn_4 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  min-width: 136px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.btn_5 {
  width: 100%;
  border-radius: 5px;
  margin-top: 39px;
  height: 50px;
}
.btn_6 {
  min-width: 216px;
}
.btn_7 {
  margin: 0 0 20px;
  min-width: 246px;
}
.btn_8 {
  margin: 0 0 30px;
  min-width: 246px;
  border-color: $btn-border-color-hover;
  background: transparent;

  &:hover {
    background: $btn-back;
    border-color: $btn-border-color-hover;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

}
.btn_9 {
  min-width: 122px;
  margin: -5px 35px 0 0;
  border-color: $btn-border-color-hover;
  background: transparent;
  font-size: 16px;
  line-height: 16px;

  &:hover {
    background: $btn-back;
    border-color: $btn-border-color-hover;
  }
  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }
}

@media (min-width: $tablet-portrait) {
  .btn_3 {
    min-width: 1px;
    width: 29%;
    margin: 0 0 0 -6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn_4 {
    bottom: 66px;
  }
}
@media (min-width: $desktop-full) {
  .btn_8 {
    margin: 0 0 101px;
  }
}