/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ffc80a;
$btn-back-hover: transparent;
$btn-border-color-hover: #ffc80a;
$btn-back-active: #ffc80a;
$btn-color: #1e1802;
$btn-color-active: #fff;

$btn-2-back: transparent;
$btn-2-back-hover: #333333;
$btn-2-back-active: #4b4b4b;
$btn-2-color: #333333;
$btn-2-color-hover: #fff;
$btn-2-border-color: #333333;
$btn-2-border-color-active: #4b4b4b;
/*---------- /btn ---------*/