.drop-menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f9593a;
  color: #fff;
  text-align: center;
  @include main-font3();
  -webkit-transition: opacity .3s ease, visibility .3s ease;
  transition: opacity .3s ease, visibility .3s ease
}
.site_black .drop-menu,
.site_white .drop-menu {
  background-color: #000;
}
.site_purple .drop-menu {
  background-color: #78379d;
}
.site__header_drop-menu .drop-menu {
  opacity: 1;
  visibility: visible
}
.drop-menu__inner {
  position: relative;
  max-width: 300px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 15px
}
.drop-menu__inner-wrap {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  text-align: center;

  div {
    position: absolute;
    width: 100%;
    max-height: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}
.drop-menu__menu {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 33px;
  @include main-font4();
}
.drop-menu__menu-item {
  color: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  &.active,
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

}
.drop-menu__navigation {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 33px
}
.drop-menu__navigation-item {
  color: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  &.active,
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

}
.drop-menu__legally {
  font-size: 14px;
  line-height: 34px;
  @include main-font3();
}
.drop-menu__legally-item {
  color: #fff;
  transition: color .3s ease;
  -webkit-transition: color .3s ease;

  &.active,
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

}
.drop-menu__copyright {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 10px;
  font-size: 14px;
  @include main-font3();
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: $tablet-landscape) {

  .drop-menu__menu {
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 60px;
  }
  .drop-menu__navigation {
    margin-bottom: 43px;
    font-size: 30px;
    line-height: 44px;
  }
  .drop-menu__legally {
    font-size: 20px;
    line-height: 34px;
  }
  .drop-menu__copyright {
    right: auto;
    left: 58px;
    bottom: 46px;
    font-size: 16px;
  }

}