.hero {
  overflow: hidden;
  @include flexbox();
  @include flex-wrap( wrap );
  @include flex-direction();
  @include align-items(flex-end);
  @include justify-content(center);
  position: relative;
  padding-top: 122px;
  background: #f9593a;
  min-height: 500px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  @include main-font3();
}
.hero__inner {
  @include flexbox();
  @include flex-wrap( wrap );
  @include flex-direction(column);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(space-between);
  position: relative;
  z-index: 1;
  max-height: 96%;
  height: 100%;
  max-width: 960px;
  padding: 0 10px;
  letter-spacing: -1px;
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__icons {
  overflow: hidden;
  max-width: 450px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 40px -5px rgba(0,0,0,0.3);

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}
.hero__new-version {
  display: inline-block;
  vertical-align: top;
  padding: 4px 19px 4px 33px;
  border-radius: 24px;
  margin: 0 0 20px;
  height: 24px;
  font-size: 16px;
  line-height: 16px;
  @include main-font2();
  background: url("../img/flag.png") no-repeat 12px center #8f75be;
  background-size: 12px 14px;
}
.hero__play {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 20px 0 10px;
  background: #ffc80a;
  box-shadow: 0 0 0 13px rgba(255, 200, 10, 0.15);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -webkit-transition: box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;

  &:after {
    position: absolute;
    top: 50%;
    left: 37%;
    border: 10px solid transparent;
    border-left: 15px solid #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
  }

  &:hover {
    box-shadow: none;
  }
}

@media (min-width: $tablet-landscape) {

  .hero {
    font-size: 28px;
    line-height: 38px;
  }
  .hero__inner {
    max-height: 88.3%;
  }
  .hero__icons {
    max-width: 671px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }
  .hero__play {
    box-shadow: 0 0 0 23px rgba(255, 200, 10, 0.15);
    width: 100px;
    height: 100px;
    border-radius: 100px;

    &:after {
      border: 13px solid transparent;
      border-left: 22px solid #fff;
    }

  }

}
@media (max-height: $desktop-height) and (min-width: $tablet-landscape) {

  .hero {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;

    .site__title {
      margin: 0 0 17px;
      font-size: 40px;
      line-height: 44px;
    }

  }
  .hero__inner {
    max-height: 95%;
  }
  .hero__play {
    margin: 20px 0;
    box-shadow: 0 0 0 13px rgba(255, 200, 10, 0.15);
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .hero__icons {
    max-width: 450px;
  }

}

