.icons-set {
  text-align: center;
}
.icons-set__title {
  margin-bottom: 33px;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  color: #797979;
;
}
.icons-set__pic {
  margin: 0 0 42px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}
