.icons-type {
  background: #fff;
  padding: 75px 0;
  text-align: center;
}
.icons-type__inner {
  max-width: 840px;
  padding: 0 10px;
  margin: 0 auto;
}
.icons-type__pic {
  padding: 37px 0 61px;
}

@media (min-width: $tablet-landscape) {

  .icons-type {
    padding: 129px 0 41px;
  }
}