.icons-pack {
  background: #fff;
  padding: 60px 0;
  text-align: center;
}
.icons-pack__inner {
  max-width: 700px;
  padding: 0 10px;
  margin: 0 auto;
}
.icons-pack__info {
  display: inline-block;
  vertical-align: top;
  padding: 5px 24px;
  margin: 0 0 50px;
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  background: #b6b6b6;
  border-radius: 3px;
}
.icons-pack__pic {
  margin: 0 auto 45px;
  max-width: 537px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

@media (min-width: $tablet-landscape) {

  .icons-pack {
    padding: 86px 0 108px;
  }
  .icons-pack__info {
    margin: 0 0 76px;
  }
  .icons-pack__pic {
    margin: 0 auto 74px;
  }

}