.logo {
  position: absolute;
  z-index: 6;
  top: 22px;
  left: 50%;
  width: 134px;
  height: 30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: top .3s ease;
  transition: top .3s ease;

  svg,
  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  svg {
    fill: #fff
  }

}
.logo__title {
  display: none;
}
.site_white {

  .logo {

    svg {
      fill: #000
    }

  }

}
.site__header_fixed-white {

  .logo {

    svg {
      fill: #000
    }

  }

}
.site__header_drop-menu {

  .logo {

    svg {
      fill: #fff
    }

  }

}

@media (min-width: $tablet-portrait) {

  .logo__title {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 -10px 0 0;
    font-size: 22px;
    line-height: 22px;
    color: rgba(255,255,255,0.5);
    @include main-font3();
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
  }

}
@media (min-width: $tablet-landscape) {

  .logo {
    top: 19px;
    left: 10px;
    width: 186px;
    height: 43px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }


}