.perfect-grid {
  background: #fff;
  padding: 60px 0;
  text-align: center;
}
.perfect-grid__inner {
  max-width: 820px;
  padding: 0 10px;
  margin: 0 auto;
}
.perfect-grid__items {
  margin: 0 0 30px;
  text-align: center;

  >div:not(:first-child) {
    @include flexbox();
    @include flex-wrap( wrap );
    @include flex-direction();
    @include align-items(flex-end);
    @include justify-content(space-between);
  }

}
.perfect-grid__size {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 0 20px;
  height: 38px;
  width: 100%;
  max-width: 192px;
  padding: 9px 45px 9px 6px;
  border: 2px solid #ffc80a;
  font-size: 16px;
  line-height: 16px;
  border-radius: 38px;
  color: #444444;
  @include main-font4();

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 100%;
    background-color: #ffc80a;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
  }

}
.perfect-grid__size_ios {


  &:after {
    background-image: url("../img/ios2.png");
    background-size: 16px 20px;
  }

}
.perfect-grid__size_android {


  &:after {
    background-image: url("../img/android2.png");
    background-size: 16px 20px;
  }

}
.perfect-grid__example {
  width: 50%;
  margin: 0 0 20px;
  color: #999999;
  font-size: 14px;
  line-height: 17px;

  img {

  }
  span {
    display: block;
    padding-top: 13px;
  }

}

@media (min-width: $tablet-portrait) {

  .perfect-grid__items {
    @include flexbox();
    @include flex-wrap( wrap );
    @include flex-direction();
    @include align-items(flex-end);
    @include justify-content(space-between);
    margin: 0 0 44px;

    >div {
      width: 63.7%;

      &:first-child {
        width: 24%;
      }

    }

  }
  .perfect-grid__example {
    width: auto;
  }


}
@media (min-width: $tablet-landscape) {

  .perfect-grid {
    padding: 68px 0 125px;

    .site__info {
      margin-bottom: 95px;
    }

  }

}