.site {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
  line-height: 17px;
  @include main-font1();
  color: #000001;

  &:after {
    display: block;
    clear: both;
    width: 100%;
    height: 70px;
    content: '';
  }

}
.site_black .site__header {
  background-color: #000;
}
.site_purple .site__header {
  background-color: #78379d;
}
.site_white .site__header {
  background-color: #fff;
}
.site_no-footer {

  &:after {
    display: none;
  }

}
.site__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 73px;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  font-size: 12px;
  text-align: right;
  //background-color: #f9593a;
  transition: border-bottom .2s ease, padding-top .2s ease, background-color .3s ease, transform .3s ease, height .3s ease;
  -webkit-transition: border-bottom .2s ease, padding-top .2s ease, background-color .3s ease, transform .3s ease, height .3s ease;

  &.site__header_fixed-white {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.07);
    background-color: #fff;

    .site__header__mobile-item {
      color: #000001
    }
    .site__header__item {
      color: #000001
    }
    .site__header__menu-btn {

      span {
        background-color: #000001;

        &:before,
        &:after{
          background-color: #000001
        }

      }

    }

  }
  &.site__header_drop-menu {

    .site__header__mobile-item {
      color: #fff
    }

  }
  &.site__header_inner {

    .site__header__mobile-item {
      display: none
    }

  }
  &.site__header_hidden {
    -webkit-transform: translateY(-115%);
    transform: translateY(-115%)
  }
  &.site__header_drop-menu {

    .site__header__menu-btn {

      span {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        &:before {
          opacity: 0
        }
        &:after {
          top: 0;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg)
        }

      }

    }

    &.white {

      .site__header__menu-btn {

        span {
          background-color: #fff;

          &:after {
            background-color: #fff
          }

        }

      }

    }

  }
  &.site__header_stick {
    position: absolute;
    -webkit-transform: none !important;
    transform: none !important;
  }

}
.site__header_black {

}
.site__header__layout {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 32px 37px 0 10px;
  -webkit-transition: padding .3s ease;
  transition: padding .3s ease;
}
.site__header__item {
  display: none;
  margin-right: 19px;
  padding-top: 6px;
  font-size: 18px;
  color: #fff;
  @include main-font4();
  -webkit-transition: opacity .3s ease, color .3s ease;
  transition: opacity .3s ease, color .3s ease;

  &:hover,
  &.active{
    color: rgba(255, 255, 255, 0.6);
  }

}
.site__header__mobile-item {
  position: absolute;
  top: 29px;
  left: 10px;
  z-index: 7;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: color .3s ease, opacity .3s ease;
  transition: color .3s ease, opacity .3s ease;

  &:hover {
    opacity: .8
  }

}
.site_white .site__header__mobile-item {
  color: #000;
}
.site_white .site__header__item {
  color: #000;
}
.site__header__menu-btn {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 30px;
  height: 25px;
  z-index: 6;
  overflow: hidden;
  text-indent: 999px;
  -webkit-transition: opacity .3s ease, top .3s ease;
  transition: opacity .3s ease, top .3s ease;

  &:hover {
    opacity: 0.5;
  }

  span {
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #fff;
    -webkit-transition: background-color .3s ease, top .3s ease, transform .3s ease;
    transition: background-color .3s ease, top .3s ease, transform .3s ease;

    &:before,
    &:after {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      height: 4px;
      background-color: #fff;
      transition: background-color .3s ease, top .3s ease, transform .3s ease;
      -webkit-transition: background-color .3s ease, top .3s ease, transform .3s ease;
      content: '';
    }

    &:before {
      top: -10px
    }

  }

}
.site_white .site__header__menu-btn {

  span {
    background-color: #000;

    &:before,
    &:after {
      background-color: #000;
    }

  }

}
.site_white .site__header_drop-menu .site__header__menu-btn {

  span {
    background-color: #fff;

    &:before,
    &:after {
      background-color: #fff;
    }

  }

}
.site__header__buy {
  display: none;
}
.site__footer {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
}
.site__footer-layout {
  @include flexbox();
  @include flex-wrap( wrap );
  @include flex-direction();
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  max-width: 800px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  @include main-font3();
}
.site__content {
  position: relative;
  z-index: 1;
}
.site__title {
  margin: 0 0 30px;
  @include main-font2();
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  text-align: center;

  span {
    display: block;
  }
}
.site__title_2 {
  margin: 0 0 40px;
  color: #000001;
  font-size: 40px;
  line-height: 45px;
}
.site__title_3 {
  font-size: 40px;
  line-height: 45px;
}
.site__title_4 {
  margin: 0;
  font-size: 40px;
  line-height: 45px;
}
.site__title_5 {
  margin: 0;
  font-size: 40px;
  line-height: 45px;
}
.site__title_6 {
  padding-top: 40px;
  background: url("../img/icoin-check1.png") no-repeat top center;
  background-size: 30px auto;
  color: #000;
  font-size: 40px;
  line-height: 45px;
}
.site__title_6-1 {
  background: none;
  padding: 0;
}
.site__subtitle {
  font-size: 22px;
  line-height: 25px;
}
.site__info {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  strong {
    @include main-font4();
  }

}
.site__info_small {
  font-size: 18px;
  line-height: 23px;
}
.site__center {
  position: relative;
  max-width: 820px;
  margin: 0 auto;
  padding: 40px 10px;
}
.site__center_small {
  max-width: 620px;
}
.site__controls {
  margin: 0 0 50px;
  text-align: center;

  div {
    overflow: hidden;
    border-radius: 44px;
    border: 2px solid #111;
  }

}
.site__controls-link {
  display: block;
  padding: 11px 28px;
  background: #fff;
  color: #242a2f;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  &.active {
    background: #000001;
    color: #fff;
    cursor: default;

    &:hover {
      color: #fff;
    }

  }
  &:hover {
    color: rgba(36, 42, 47, 0.7);
  }

}

@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
  .site__controls {

    div {
      display: inline-block;
      vertical-align: top;
      height: 44px;
    }

  }
  .site__controls-link {
    display: inline-block;
    vertical-align: top;
    width: 169px;
    margin: 0 -2px;

    &:first-child {
      text-align: right;
    }
    &:last-child {
      text-align: left;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .site {
    font-size: 16px;
    line-height: 19px;

    &:after {
      height: 140px;
    }

    &.site_index {

      .site__header__layout {
        padding: 45px 90px 0;
      }

      .logo {
        top: 37px;
      }

    }

  }
  .site__header {
    height: 90px;

    &.site__header_fixed-white {
      height: 80px;

      .site__header__layout {
        padding: 24px 90px 0;
      }
      .site__header__menu-btn {
        //top: 28px;
      }
      .logo {
        top: 18px;
        clip: rect(auto, 50px, auto, auto);
      }
      .site__header__item_pricing {
        display: none;
      }
      .site__header__buy {
        display: inline-block;
      }

    }

  }
  .site__header__layout {
    padding: 32px 90px 0;
  }
  .site__header__mobile-item {
    display: none
  }
  .site__header__item {
    display: inline-block;
    margin-right: 34px;
    padding-top: 8px;
    font-size: 18px
  }
  .site__header__menu-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: auto;
    right: auto;
    margin: 3px 0 0;
  }
  .site__footer {
    height: 140px;
  }
  .site__title {
    margin: 0 0 17px;
    font-size: 60px;
    line-height: 64px;
  }
  .site__title_2 {
    margin: 0 0 31px;
    font-size: 50px;
    line-height: 60px;
  }
  .site__title_3 {
    margin: 0 0 83px;
    font-size: 72px;
    line-height: 75px;
  }
  .site__title_4 {
    margin: 0;
    font-size: 66px;
    line-height: 70px;
  }
  .site__title_5 {
    margin: 0 0 38px;
    font-size: 40px;
    line-height: 48px;
  }
  .site__title_6 {
    margin: 0 0 12px;
    background: url("../img/icoin-check1.png") no-repeat top center;
    background-size: 56px 45px;
    padding-top: 70px;
    font-size: 66px;
    line-height: 70px;
  }
  .site__title_6-1 {
    background: none;
    padding: 0;
    font-size: 54px;
    line-height: 65px;

  }
  .site__subtitle {
    font-size: 26px;
    line-height: 47px;
  }
  .site__info {
    margin: 0 auto 41px;
    font-size: 26px;
    line-height: 31px;
  }
  .site__info_small {
    font-size: 24px;
    line-height: 29px;
  }
  .site__center {
    padding: 72px 10px;
  }
  .site__center_small {
    padding: 86px 10px;
  }
}
@media (min-width: $desktop) {
  .site {

  }
}
@media (min-width: $desktop-full) {
  .site__title_6-1 {
    font-size: 66px;
    line-height: 70px;

  }
}
