.social {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 30px;
  font: 16px 'Proxima Nova Light', sans-serif;
  text-transform: uppercase

}
.social__item {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 21px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/iocns-social.png) no-repeat;
    background-size: auto 50px;
    content: '';
  }

  &:hover {
    opacity: 0.6;
  }

}
.social__item_mail {

  &:after {
    background-position: 0 0;
  }

}
.social__item_btn {

  &:after {
    background-position: -29px 0;
  }

}
.social__item_tw {

  &:after {
    background-position: -61px 0;
  }

}
.social__item_fb {

  &:after {
    background-position: -94px 0;
  }

}
.social-networks {
  margin: 30px 0;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255,255,255,0.4);
  }

}
.social-networks__item {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0 4px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: .7;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 12px;
  }

}
.social-blog {
  margin: 20px 0 0;
  text-align: center;
}
.social-blog__item {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 47px;
  height: 44px;
  margin: 0 4px;
  background: #426da7;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.6;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
  }

}
.social-blog__item_tw {
  background: #00b7e5;
}
.social-blog__item_gp {
  background: #ef644d;
}

@media (min-width: $tablet-landscape) {

  .social {
    left: auto;
    right: 45px;
    bottom: 39px;
  }
  .social-networks {
    position: absolute;
    right: 6px;
    bottom: -48px;
    margin: 0;

    span {
      font-size: 20px;
      line-height: 20px;
    }

  }
  .social-networks_center {
    right: auto;
    bottom: -44px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .social-blog {
    position: absolute;
    left: 10px;
    top: 6%;
    width: 57px;
    margin: 0;
  }
  .social-blog__item {
    display: block;
    width: 57px;
    height: 54px;
    margin: 5px 0;
  }

}