.svg-icons {
  background: #fff;
  padding: 75px 0;
  text-align: left;
}
.svg-icons__inner {
  max-width: 820px;
  padding: 0 10px;
  margin: 0 auto;
}
.svg-icons__container {
  position: relative;
  height: 0 !important;
  padding-bottom: 48%;
  border: 3px solid #e1e1e1;

  .svg-icons__left {

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

  .svg-icons__right {

    img {
      position: absolute;
      right: 10%;
      top: 50%;
      width: 20%;
      height: auto;
      transform: translateY(-50%);
    }

  }

}

@media (min-width: $tablet-portrait) {



}
@media (min-width: $tablet-landscape) {

  .svg-icons {
    padding: 94px 0;
    text-align: left;
  }
  .svg-icons__container {
    margin-top: 80px;
    padding-bottom: 48.9%;

    .svg-icons__right {

      img {
        right: 16%;
        width: 144px;
      }

    }

  }


}